head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //--basic meta
    title ММОО «Студенческий союз МИРЭА»

    //--basic meta
    meta(name='description',
    content="ММОО «Студенческий союз МИРЭА» — общественная организация, объединяющая студентов и аспирантов Московского Технологического Университета.")
    meta(name='keywords',
    content="ММОО, Студенческий союз МИРЭА, мирэа, студенты, МТУ, московский технологический университет, союз")
    //--
        link(rel='author',
        href='https://github.com/mireadev')

    //--opengraph meta
    <!-- Fow social parsing -->
    meta(property="og:type",
    content="website")
    meta(property="og:title",
    content="ММОО «Студенческий союз МИРЭА»")
    meta(property="og:site_name",
    content="ММОО «Студенческий союз МИРЭА»")
    meta(property="og:url",
    content="https://sumirea.ru")
    //--@TODO: add normal image
    meta(property="og:description",
    content="")
    meta(property="og:image",
    content="")
    meta(property="og:image:secure_url",
    content="")
    meta(property="og:image:type",
    content="image/png")
    meta(property="og:image:width",
    content="1200")
    meta(property="og:image:height",
    content="630")

    //-- icons
    link(rel="shortcut icon", href="favicon.ico")
    link(rel="icon", sizes="16x16 32x32", href="favicon.ico")
    link(rel="apple-touch-icon-precomposed", href="img/favicon/152.png")

    //--styles
    link(href='css/normalize.css', rel='stylesheet')
    link(href='css/flexboxgrid.min.css', rel='stylesheet')
    link(href='css/flexboxgrid-helpers.min.css', rel='stylesheet')
    link(href='css/style.min.css', rel='stylesheet')